[package]
name = "miden-field-repr-derive"
description = "Derive macros for felt representation serialization/deserialization"
version = "0.10.0"
rust-version.workspace = true
authors.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true
license.workspace = true
readme = "README.md"
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn.workspace = true
