name: book

on:
  push:
    branches:
      - main
      - next

jobs:
  publish_docs:
    name: publish docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: |
          rustup update --no-self-update
          rustc --version
      - name: Install cargo-make
        run: |
          cargo install cargo-make --force
      - name: Build
        run: |
          cargo make docs
